@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
    url("bg.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  z-index: -1;
  color: white;
}

.container {
  position: absolute;
  top: auto;
  left: 800px;
  max-width: 300px;
  width: 100%;
  border-radius: 12px;
  padding: 10px 20px 20px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  border: 1px solid black;
}
.buttons {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}
.display {
  height: 80px;
  width: 100%;
  outline: none;
  border: none;
  text-align: right;
  margin-bottom: 10px;
  font-size: 25px;
  color: black;
  pointer-events: none;
}
.buttons button {
  padding: 12px 10px;
  border-radius: 6px;
  border: none;
  font-size: 20px;
  background-color: #008080;
  transition: 0.3s;
}
.buttons button:active {
  transform: scale(1.5);
}
.operator {
  color: #f2f2f2;
}
